header{
    /* display: flex;
    flex-direction: row; */
    max-width: auto;
    max-height: auto;
    /* flex-wrap: nowrap; */
    background-color: rgb(252, 233, 233);
    border-radius: 0px 0px 25px 25px;
    border: 0.56vh solid rgba(33, 80, 6, 0.596);
    box-shadow: inset;
    margin: 0.5%;
}
header img{
    height: 20%, auto;
    position: relative;
    width: 50%;
    /* mix-blend-mode: color; */
    /* margin-left: -5rem; */
    /* padding: -5rem; */
}
    .h34d3r{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
/* .h34d3r-l1nk5 a{ */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
/* } */

.h34d3r a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(5, 59, 22, 0.63);
    color: rgb(6, 8, 24);
    margin: 1vh;
    padding: 2%;
    flex-wrap: nowrap;
}